* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 75vw;
    height: 40vh;
    border: 1px solid black;
    margin: auto;
    background-color: green;
}

main section:nth-child(1) {
    width: 6vw;
    height: 10vh;
    background-image: url('../assets/img/potato.png');
    background-size: 10vh;
    position: relative;
    top: 32vh;
    background-repeat: no-repeat;
}

main section:nth-child(2) {
    width: 2vw;
    height: 4vh;
    background-image: url('../assets/img/ball.jpg');
    position: relative;
    top: 25vh;
    left: 73vw;
    background-size: contain;
    background-repeat: no-repeat;

    animation: block 2s infinite linear;
}

.jump {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0% {
        top: 15vh;
    }

    30% {
        top: 15vh;
    }

    50% {
        top: 8vh;
    }

    80% {
        top: 15vh;
    }

    100% {
        top: 15vh;
    }
}

@keyframes block {
    0% {
        left: 75vw;
    }

    100% {
        left: -2vh;
    }
}
